<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBII_uH3THeNR2w7KLXCz1s9Y4TDitirZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>414765872196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-schat</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-schat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414765872196:ios:a2e47054a3910a7b2d7811</string>
</dict>
</plist>